fastapi==0.109.1
uvicorn==0.27.1
python-dotenv==1.0.1
sqlalchemy==2.0.39
alembic==1.13.1
pytest==8.0.0
httpx==0.28.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9 
setuptools==75.8.0
wheel>=0.42.0
pywebview==5.4
langchain==0.3.21
langchain-openai>=0.3.1
langchain-text-splitters==0.3.7
langchain-core>=0.2.0
beautifulsoup4==4.13.3

python-dotenv>=1.0.0
asyncio==3.4.3 
pydantic>=2.10.4  
pydantic-settings==2.2.1
pydantic-extra-types==2.1.0

playwright==1.52.0
#browser_use==0.1.40
browser_use==0.2.5
aiosqlite==0.19.0

# Logging package
python-json-logger==2.0.7  # JSON formatting for logs